/* import police orbitron */
@import url("https://fonts.googleapis.com/css?family=Orbitron");
@font-face {
   font-family: "Orbitron";
   src: url("https://fonts.googleapis.com/css?family=Orbitron");
}
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   outline: none;
}
.orbitron {
   font-family: "Orbitron", sans-serif;
}

/* variable couleur */
:root {
   --color-navbar: rgba(40, 27, 71, 1);
   --color-separate: rgba(105, 72, 170, 1);
   --color-button: rgba(74, 0, 232, 1);
   --color-button-hover: rgba(74, 0, 232, 0.8);
   --color-button-active: rgba(74, 0, 232, 0.6);
   --grey-blue: rgba(50, 50, 68, 1);
   --rankAram-Color: rgb(143, 192, 251);
}
/* Global CSS */

.globalBg {
   background: linear-gradient(
         114.58deg,
         #000000 -20.68%,
         rgba(0, 0, 0, 0) 100%
      ),
      linear-gradient(0deg, rgba(26, 17, 47, 0.7), rgba(26, 17, 47, 0.7)),
      url(/public/assets/img/rankAramBgMobil.jpg);
   background-color: rgba(27, 21, 41, 1);
   background-size: cover;
   background-repeat: no-repeat;
}
.windowBlur {
   background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.1) 100%
   );
   box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
   backdrop-filter: blur(5px);
   border-radius: 20px;
}
.contentContainer {
   height: 90vh;
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.orbitron {
   font-family: "Orbitron", sans-serif;
}
/**********  **********/

/* Navbar */
.navbar {
   font-family: "Orbitron", sans-serif;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 0 1rem;
   height: 10vh;
   width: 100%;
   border-bottom: 0.5px solid rgba(105, 72, 170, 1);
   box-shadow: 0 0 10rem rgba(255, 255, 255, 0.1);
   background: linear-gradient(90deg, #1a112f 27.6%, rgba(40, 27, 71, 0) 100%);
   color: white;
   text-decoration: none;
   z-index: 100;
}
.navbar a {
   text-decoration: none;
   color: white;
}
.navbarLink {
   display: flex;
   flex-direction: row;
   align-items: center;
   text-decoration: none;
   gap: 20px;
   font-size: 20px;
}
.navbar-collapse {
   width: 100vw;
   background: linear-gradient(
      90deg,
      #1a112f 27.6%,
      rgba(40, 27, 71, 0) 100%
   ) !important;
}

.dropdown-menu {
   background: linear-gradient(
      90deg,
      #1a112f 27.6%,
      rgba(40, 27, 71, 0) 100%
   ) !important;
}
/* FIN Navbar */

/* Page accueil */
.mainContainer {
   width: 100vw;
   height: 90vh;
   display: flex;
   justify-content: space-around;
}

.windowBlur {
   background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.1) 100%
   );
   box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
   backdrop-filter: blur(5px);
   border-radius: 20px;
}

.homeContent {
   width: 75%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.title {
   font-family: "Orbitron", sans-serif;
   color: white;
   text-align: center;
}
.homeTextContainer {
   text-align: center;
   height: 50%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.homeText {
   font-family: "Orbitron", sans-serif;
   color: white;
   text-align: center;
   width: 80%;
}

.homeText a {
   color: #ed394f;
   text-decoration: none;
}
.homeText a:hover {
   color: #f91c36;
}
.homeText a:active {
   color: rgb(255, 0, 0);
}
.rankVisual {
   height: 100px;
}

.allRankVisual {
   background-image: url(/public/assets/img/rankMobile.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   height: 100%;
}
/* FIN page acceuil */

/* form Inscription */

/* .formContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   height: 500px;
} */
h1 {
   color: white;
   font-size: 30px;
   font-family: "Orbitron", sans-serif;
}
/* form {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   color: white;
   width: 55%;
   height: 100%;
} */
/* .labelsInputsContainer {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   height: 100%;
   width: 100%;
} */
/* .labelsInputs {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   height: 25px;
   width: 100%;
   font-family: "Orbitron", sans-serif;
} */
.labelsInputs input {
   border-radius: 10px;
   border: 1px solid rgba(74, 0, 232, 1);
   color: black;
   font-size: 15px;
   outline: none;
   /* padding: 15px; */
}

/* .centerButton {
   display: flex;
   justify-content: center;
   margin-top: 10px;
} */

form button {
   width: 150px;
   height: 40px;
   border-radius: 10px;
   border: 1px solid rgba(74, 0, 232, 1);
   background-color: rgba(74, 0, 232, 1);
   color: white;
   font-family: "Orbitron", sans-serif;
   font-size: 15px;
   outline: none;
   cursor: pointer;
}

form button:hover {
   background-color: rgba(74, 0, 232, 0.8);
}

form button:active {
   background-color: rgba(74, 0, 232, 0.6);
}

/* FIN form Inscription */

/* Form connexion */
/* .connexionForm {
   display: flex;
   flex-direction: column;
   color: white;
   width: 40%;
   height: 100%;
} */
/* FIN form connexion */
/* ERROR MESSAGE */
.error {
   color: red;
   font-size: 15px;
   font-family: "Orbitron", sans-serif;
}

/* FOOTER */
footer {
   width: 100%;
   height: 10vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #1a112f;
   color: white;
   font-family: "Orbitron", sans-serif;
   font-size: 15px;
}

/* media query desktop */
@media screen and (min-width: 1024px) {
   .globalBg {
      background: linear-gradient(
            114.58deg,
            #000000 -20.68%,
            rgba(0, 0, 0, 0) 100%
         ),
         linear-gradient(0deg, rgba(26, 17, 47, 0.7), rgba(26, 17, 47, 0.7)),
         url(/public/assets/img/rankAramBg.jpg);
      background-color: rgba(27, 21, 41, 1);
      background-size: cover;
      background-repeat: no-repeat;
   }
   .homeText {
      font-size: 20px;
   }
   .title {
      font-size: 40px;
   }
   .homeContent {
      height: 80%;

   }
   .rankVisual {
      width: 20%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .allRankVisual {
      background-image: url(/public/assets/img/rankDesktop.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
   }
   .error {
      font-size: 20px;
   }
}
